[submodule "aws"]
	path = piton/design/aws
	url = https://github.com/PrincetonUniversity/openpiton-aws.git
[submodule "piton/tools/metro_mpi"]
	path = piton/tools/metro_mpi
	url = https://gitlab.bsc.es/hwdesign/fpga/third-party/bsc_metrompi
	branch = abbas
[submodule "piton/design/chip/tile/ariane"]
	path = piton/design/chip/tile/ariane
	url = git@github.com:abbasBSC/cva6_openpiton_abbas.git
	branch = L15_MSHR_ASSOCIATIVITY
